body {
    font-family: "Anonymous Pro", "Times New Roman", serif;
    background-color: #000;
    font-size: 100%
}

.titulo-principal {
    font-size: 30px;
    text-align: left;
    background-color: #000;
    color: #64ff20;
    padding-left: 30px;
    padding-top: 10px;
}

.logo {
    font-size: 120px;
    text-align: left;
    background-color: #000;
    color: #64ff20;
    padding-left: 42px;
}

.subtitulos {
    font-size: 30px;
    text-align: left;
    background-color: #000;
    color: #64ff20;
    padding-left: 260px;
}

h2 {
    font-size: 30px;
    text-align: left;
    background-color: #000;
    color: #64ff20;
}
